Flask==0.12.2
Flask-Cors==3.0.3
Flask-WTF==0.14.2
gensim==3.4.0
gunicorn==19.8.1
heapdict==1.0.0
html5lib==0.999999999
Jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
lxml==4.1.0
packaging==16.8
pandas==0.20.3
pep8==1.7.0
pickleshare==0.7.4
Pillow==5.0.0
pipenv==10.1.2
pkginfo==1.4.1
ply==3.10
praw==5.4.0
prawcore==0.14.0
py==1.4.34
python-datamuse==1.1.0
python-dateutil==2.6.1
python-osc==1.6.4
python-sonic==0.3.0
requests==2.18.4
WTForms==2.1
